logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

.idea

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage
*.lcov

.lock-wscript

build/Release

node_modules/
jspm_packages/

web_modules/

*.tsbuildinfo

.npm

.eslintcache

.stylelintcache

.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

.node_repl_history

*.tgz


.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.vuepress/dist

.temp

.docusaurus

.serverless/

.fusebox/

.tern-port

.vscode-test

.webpack/
